---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import '../styles/global.css';
---
<BaseLayout pageTitle={frontmatter.title}>
    <meta charset="utf-8" />
    <style>
      .controls {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        button {
          margin: 0 0 1rem 0;
          padding: 0.2rem 0.5rem;
          border: 1 solid #aaa;
          background-color: #efefef;

          &:hover {
            color: #fff;
            background-color: purple;
            cursor: pointer;
          }
        }
      }
    </style>
    <div class="controls">
      <button type="button" class="back">Back</button>
    </div>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} width="100%" />
    <h3><em>{frontmatter.description}</em></h3>
    <p class="fields">Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
    <p class="fields">Written by {frontmatter.author}</p>
    <slot />
    <script>
      const backButton = document.querySelector('.back');
      
      backButton?.addEventListener('click', () => {
        window.history.back();
      });
    </script>
</BaseLayout>